<h2> <%= @user.name %></h2>

<br />

<h2> <%= @user.email %></h2>

<br />

<%= link_to 'Delete User', (@user.destroy)%>

<h2> Products List of <%= @user.name %></h2>

<br />

<% @products.each do |product| %>
<%= product.title %>
<%end%>
